<div class="form-label-group">
  <input
      [ngClass]="(ControlDir && ControlDir.control  &&
       ControlDir.control.touched) ? !ControlDir.control.valid ? 'is-invalid' : 'is-valid' :null"
      (input)="onChange($event.target.value)"
      (blur)="onTouched()"
      [type]="type"
      id="{{lable}}"
      #input
      class="form-control"
      placeholder="{{lable}}"
  >
  <div *ngIf="ControlDir && ControlDir.control && ControlDir.control.status=== 'PENDING'"
  class="fa fa-spinner fa-spin loader"></div>
  <label for="{{lable}}">{{lable}}</label>
  <div class="invalid-feedback" *ngIf="(ControlDir && ControlDir.control &&
  !ControlDir.control.valid && ControlDir.control.touched)">
  <span *ngIf="ControlDir.control.errors?.required">{{lable}} is required</span>
  <span *ngIf="ControlDir.control.errors?.pattern">{{lable }} Invalid email address</span>

  </div>

     <div class="invalid-feedback d-block" *ngIf="(ControlDir && ControlDir.control &&
     !ControlDir.control.valid && ControlDir.control.dirty)">
     <span *ngIf="ControlDir.control.errors?.emailExists">{{lable }} Email address is in Use</span>
     </div>

</div>
